.InfoRow-Card {
    display: flex !important;
    flex-direction: row !important;
    border: 0 !important;
}

.InfoRow-Card-Image {
    /* TODO: Change as needed */
    height: 250px;
    width: 40vw;
}

.InfoRow-Card-Image1 {
    /* TODO: Change as needed */
    height: 250px;
    width: 40vw;
}

.InfoRow-Card-Content {
    padding: 3em; /* TODO: Change as needed */
    background-color: black;
    color: white;
    flex: 1 2 auto !important;
}

.Card-Title {
    color: #fa325a;
}