.InfoRow-Card {
  display: flex !important;
  flex-direction: row !important;
  border: 0 !important;
  flex-wrap: wrap;
}

.Card-Both {
  flex-direction: column !important;
}

.image-container {
  max-width: 40%;
  background-color: #131317;
}

.img-alt {
  background-color: #882e40;
}

.InfoRow-Card-Image {
  width: 100%;
  height: auto;
}

.card-body {
  max-width: 60%;
}

.image-container-small {
  max-width: 37%;
  background-color: #131317;
}
.InfoRow-Card-Content-Small {
  max-width: 63%;
}

/* .InfoRow-Card-Image1 {
    height: 250px;
    width: 40vw;
} */

.InfoRow-Card-Content {
  padding: 4em !important; /* TODO: Change as needed */
  background-color: #131317;
  color: white;
  flex: 1 2 auto !important;
}

.Content-Disp-Alt {
  background-color: #40434e;
  color: white;
}

.WorkEx-Title {
  display: flex;
  justify-content: center;
  padding-top: 3em;
}

.Half-Card {
  max-width: 100%;
  padding: 1em 10em 3.5em 10em !important;
}

.Work-Title {
  color: #f5b041 !important;
}

.Card-Title {
  color: #fa325a;
}

.Title-alt {
  color: #fa325a;
}
